<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="user_api_key" value="rx755wkoachlfuizmrucouswdib3fh7t"/>
      <add key="user_hash" value="pa95tstc9qi1c79exdyylx37wiincovn"/>
    </appSettings>
</configuration>